@import "../../sass/include.scss";

.block-notes-footer{
	position: relative;
	z-index: 2;
	background-color: #fff;
	padding: 9px 12px;
	font-size: 0;
	font-weight: 300;
	text-align: center;
	color: $text-dark;
	border-top: 1px solid $border-color;
	margin-top: -1px;
	&__left{
		position: absolute;
		top: 9px;
		left: 12px;
		line-height: 22px;
		font-size: 14px;
	}
	&__clear.button{
		position: absolute;
		top: 8px;
		right: 12px;
		padding: 0;
		margin: 0;
	}
	&__group{
		display: inline-block;
		position: relative;
	}
}