@import "../../sass/include.scss";

.block-notes-header{
	position: relative;
	overflow: hidden;
	height: 63px;
	&__select-all.button-image{
		float: left;
		margin: 13px 5px 0 12px;
		@include image-adaptive('select-all', 'png');
		background-size: 24px 12px;
		background-repeat: no-repeat;
		background-position: center;
		opacity: 1;
		visibility: visible;
		transition: all 200ms ease;
	}
	&__input-wrap{
		overflow: hidden;
		margin: 15px 10px 0 5px;
	}
	&__input.textinput{
		display: block;
		width: 100%;
		&::placeholder{
			font-size: 24px;
			line-height: 30px;
			font-weight: 200;
			color: $text-light;
			font-style: italic;
			transition: all 200ms ease;
		}
	}
}